<form>
  <div class="half-tone-overlay"></div>
  <div class="mvrpg-dialog-container flexcol">
    <div class="mvrpg-dialog-section comic-frame flexcol">
      <div class="mvrpg-dialog-header">
        {{localize "MVRPG.dialog.rollConfirm.title"}}
      </div>

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{ability}}</div>
        <div class="mvrpg-dialog-data">{{modifier}}</div>
      </div>

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.rollConfirm.edges"}}</div>
        <div class="mvrpg-dialog-input"><input data-reference="edges" type="checkbox"></div>
        <div class="mvrpg-dialog-input"><input name="edges" type="number" value="0" min="0" disabled></div>
      </div>

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.rollConfirm.troubles"}}</div>
        <div class="mvrpg-dialog-input"><input data-reference="troubles" type="checkbox"></div>
        <div class="mvrpg-dialog-input"><input name="troubles" type="number" value="0" min="0" disabled></div>
      </div>
    </div>
  </div>
</form>
