<div class="doc-list-header flexrow">
  <div class="doc-icon-dummy"></div>
  <div class="doc-data">{{localize (concat "MVRPG.sheets.superSheet.dataHeaders." type)}}</div>
  <a class="doc-action doc-create"
     data-action="docAction"
     data-doc-action="create"
     data-doc-type="{{type}}"
     data-tooltip="{{localize (concat "MVRPG.sheets.superSheet.tooltips.createItem." type)}}">
    <i class="fa-solid fa-plus"></i>
  </a>
</div>

{{#each docList as |doc| }}
  <div class="doc-entry flexrow" data-item-id="{{doc.id}}">
    <a class="doc-action doc-icon"
       data-action="docAction"
       data-doc-action="toChat"
       data-tooltip="{{localize "MVRPG.sheets.generic.tooltips.toChat"}}">
      <img src="{{doc.img}}" title="{{doc.name}}" />
      <i class="overlay fa-solid fa-comment"></i>
    </a>
    <a class="doc-action doc-data flexcol"
       data-action="docAction"
       data-doc-action="edit"
       data-tooltip="{{localize "MVRPG.sheets.generic.tooltips.edit"}}">
      <div class="doc-name">{{doc.name}}</div>
      {{#mvCompare doc.type "power"}}
        <div class="power-data">
          <span class="info-pill">{{localize "MVRPG.sheets.superSheet.pillLabels.action"}}:
            {{#each doc.system.actions as |action| }}
              {{localize (mvGetConfigProperty "actions" action)}}
              {{~#unless @last}}/{{~/unless~}}
              {{~/each~}}
            </span>
            <span class="info-pill">{{localize "MVRPG.sheets.superSheet.pillLabels.duration"}}: {{localize (concat "MVRPG.sheets.generic.powerDurations." doc.system.duration)}}</span>
            {{#if doc.system.cost }}
              <span class="info-pill">{{localize "MVRPG.sheets.superSheet.pillLabels.cost"}}: {{doc.system.cost}}</span>
            {{/if}}
            {{#if doc.system.range.value }}
              {{#if doc.system.range.multiplyByRank }}
                <span class="info-pill">{{localize "MVRPG.sheets.superSheet.pillLabels.range"}}: {{mvMath "product" doc.system.range.value actor.system.rank}}</span>
              {{else}}
                <span class="info-pill">{{localize "MVRPG.sheets.superSheet.pillLabels.range"}}: {{doc.system.range.value}}</span>
              {{/if}}
            {{/if}}
          </div>
        {{/mvCompare}}
      </a>
      <div class="action-icons flexrow">
        {{#if doc.system.roll.hasRoll }}
          <a class="doc-action rollable"
             data-action="rollable"
             data-tooltip="{{localize "MVRPG.sheets.superSheet.tooltips.rollFromItem"}}">
            <i class="fa-solid fa-dice"></i>
          </a>
        {{/if}}
        <a class="doc-action doc-delete"
           data-action="docAction"
           data-doc-action="delete"
           data-tooltip="{{localize "MVRPG.sheets.generic.tooltips.delete"}}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    </div>
  {{/each}}
