    {{#each this as |doc|}}
      <div class="doc-entry flexrow">
        <a class="doc-action doc-icon" data-action="toChat" data-doc-id="{{doc.id}}">
          <img src="{{doc.img}}" title="{{doc.name}}"/>
          <i class="overlay fa-solid fa-comment"></i>
        </a>
        <a class="doc-action doc-name" data-action="edit" data-doc-id="{{doc.id}}">
          {{doc.name}}
        </a>
        <a class="doc-action doc-delete" data-action="delete" data-doc-id="{{doc.id}}">
          <i class="fa-solid fa-trash"></i>
        </a>
      </div>
    {{/each}}
