<div class="lifepool-panel comic-frame">
  <div class="health-section flexcol">
    <header>
      {{localize "MVRPG.sheets.superSheet.titles.health"}}
    </header>
    <div class="health-content flexrow">
      <div class="health-max comic-bubble-background flexcol"
           data-tooltip="{{localize "MVRPG.sheets.superSheet.lifepool.tooltips.maxHealth"}}"
           data-tooltip-direction="UP">
        <span class="bubble-label">{{localize "MVRPG.sheets.superSheet.lifepool.max"}}</span>
        <input name="system.lifepool.health.max"
               type="number"
               value="{{actor.system.lifepool.health.max}}">
      </div>
      <div class="health-points comic-bubble-background flexcol"
           data-tooltip="{{localize "MVRPG.sheets.superSheet.lifepool.tooltips.currentHealth"}}"
           data-tooltip-direction="UP">
        <span class="bubble-label">{{localize "MVRPG.sheets.superSheet.lifepool.current"}}</span>
        <input name="system.lifepool.health.value"
               type="number"
               value="{{actor.system.lifepool.health.value}}">
      </div>
      <div class="health-damage-reduction comic-bubble-background flexcol"
           data-tooltip="{{localize "MVRPG.sheets.superSheet.lifepool.tooltips.damageReductionHealth"}}"
           data-tooltip-direction="UP">
        <span class="bubble-label">{{localize "MVRPG.sheets.superSheet.lifepool.damageReduction"}}</span>
        <span class="value">{{actor.system.lifepool.health.damageReduction}}</span>
      </div>
    </div>
  </div>

  <div class="focus-section flexcol">
    <div class="focus-content flexrow">
      <div class="focus-max comic-bubble-background flexcol"
           data-tooltip="{{localize "MVRPG.sheets.superSheet.lifepool.tooltips.maxFocus"}}">
        <span class="bubble-label">{{localize "MVRPG.sheets.superSheet.lifepool.max"}}</span>
        <input name="system.lifepool.focus.max"
               type="number"
               value="{{actor.system.lifepool.focus.max}}">
      </div>
      <div class="focus-points comic-bubble-background flexcol"
           data-tooltip="{{localize "MVRPG.sheets.superSheet.lifepool.tooltips.currentFocus"}}">
        <span class="bubble-label">{{localize "MVRPG.sheets.superSheet.lifepool.current"}}</span>
        <input name="system.lifepool.focus.value"
               type="number"
               value="{{actor.system.lifepool.focus.value}}">
      </div>
      <div class="focus-damage-reduction comic-bubble-background flexcol"
           data-tooltip="{{localize "MVRPG.sheets.superSheet.lifepool.tooltips.damageReductionFocus"}}">
        <span class="bubble-label">{{localize "MVRPG.sheets.superSheet.lifepool.damageReduction"}}</span>
        <span class="value">{{actor.system.lifepool.focus.damageReduction}}</span>
      </div>
    </div>
    <footer>
      {{localize "MVRPG.sheets.superSheet.titles.focus"}}
    </footer>
  </div>
</div>
