<div class="tab powers-panel flexcol {{tabs.primary.powers.cssClass}}"
     data-group="{{tabs.primary.powers.group}}"
     data-tab="{{tabs.primary.powers.id}}">
  {{> (systemFilePath "templates/sheet-shared/tab-nav.hbs") tabs=tabs.secondary tabGroup="secondary"}}
  <div class="powers-body">
    <div class="tab doc-list flexcol {{tabs.secondary.powers.cssClass}}"
         data-group="secondary"
         data-tab="powers">
      {{> (systemFilePath "templates/actor/document-list.hbs") docList=actor.itemTypes.power type="power"}}
    </div>
    <div class="tab doc-list flexcol {{tabs.secondary.traits.cssClass}}"
         data-group="secondary"
         data-tab="traits">
      {{> (systemFilePath "templates/actor/document-list.hbs") docList=actor.itemTypes.trait type="trait"}}
    </div>
    <div class="tab doc-list flexcol {{tabs.secondary.tags.cssClass}}"
         data-group="secondary"
         data-tab="tags">
      {{> (systemFilePath "templates/actor/document-list.hbs") docList=actor.itemTypes.tag type="tag"}}
    </div>
    <div class="tab doc-list flexcol {{tabs.secondary.inventory.cssClass}}"
         data-group="secondary"
         data-tab="inventory">
      {{> (systemFilePath "templates/actor/document-list.hbs") docList=actor.itemTypes.simpleItem type="simpleItem"}}
    </div>
    <div class="tab effects-list doc-list flexcol {{tabs.secondary.effects.cssClass}}"
         data-group="secondary"
         data-tab="effects">
      {{> (systemFilePath "templates/effects/effects-list.hbs") allEffects}}
    </div>
  </div>
</div>
