<form class="container">
  <div class="comic-book-overlay"></div>
  <div class="codename-pane">
    <div class="codename comic-box-shadow flexrow">
      <input class="codename-input" name="name" type="text" value="{{actor.name}}">
    </div>
    <div class="portrait comic-box-shadow">
      <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    </div>
  </div>
  <div class="health-pane comic-box-shadow">
    <div class="health flexcol">
      <div class="panel-title panel-header">{{localize "MVRPG.heroSheet.health.title"}}</div>
      <div></div>
    </div>

    <div class="focus flexcol">
      <div></div>
      <div class="panel-title panel-footer">{{localize "MVRPG.heroSheet.focus.title"}}</div>
    </div>
  </div>
  <div class="rank-pane comic-box-shadow">
    <div class="speed flexcol">
      <div class="panel-title panel-header">{{localize "MVRPG.heroSheet.speed.title"}}</div>
      <div></div>
    </div>
    <div class="karma flexcol">
      <div class="panel-title panel-header">{{localize "MVRPG.heroSheet.karma.title"}}</div>
      <div></div>
    </div>

    <div class="init flexcol">
      <div></div>
      <div class="panel-title panel-footer">{{localize "MVRPG.heroSheet.initiative.title"}}</div>
    </div>
    <div class="rank flexcol">
      <div class="rank-bubble flexrow">
        <input class="rank-input" name="system.rank" type="text" value="{{actor.system.rank}}">
      </div>
      <div class="panel-title panel-footer">{{localize "MVRPG.heroSheet.rank.title"}}</div>
    </div>
  </div>
  <div class="abilities-pane comic-box-shadow flexcol">
    <div class="panel-title panel-header">{{localize "MVRPG.heroSheet.abilities.title"}}</div>
    <div></div>
  </div>
  <div class="powers-pane comic-box-shadow"></div>
</form>
