<form class="hero-sheet-grid">
  <div class="half-tone-overlay"></div>

  <div class="codename-panel">
    <div class="codename comic-frame flexrow">
      <input class="codename-input" name="name" type="text" value="{{actor.name}}">
    </div>
    <div class="portrait comic-frame">
      <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    </div>
  </div>

  <div class="lifepool-panel comic-frame">
    <div class="health-section flexcol">
      <div class="panel-title panel-header">
        {{localize "MVRPG.heroSheet.health.title"}}
      </div>
      <div class="health-content flexrow">
        <div class="health-max comic-bubble-background flexcol">
          <span class="bubble-label">{{localize "MVRPG.heroSheet.lifepool.max"}}</span>
          <input class="health-max-input" name="system.lifepool.health.max" type="number" value="{{actor.system.lifepool.health.max}}">
        </div>
        <div class="health-points comic-bubble-background flexcol">
          <span class="bubble-label">{{localize "MVRPG.heroSheet.lifepool.current"}}</span>
          <input class="health-points-input" name="system.lifepool.health.value" type="number" value="{{actor.system.lifepool.health.value}}">
        </div>
        <div class="health-damage-reduction comic-bubble-background flexcol">
          <span class="bubble-label">{{localize "MVRPG.heroSheet.lifepool.damageReduction"}}</span>
          <input class="health-damage-reduction-input" name="system.lifepool.health.damageReduction" type="number" value="{{actor.system.lifepool.health.damageReduction}}">
        </div>
      </div>
    </div>

    <div class="focus-section flexcol">
      <div class="focus-content flexrow">
        <div class="focus-max comic-bubble-background flexcol">
          <span class="bubble-label">{{localize "MVRPG.heroSheet.lifepool.max"}}</span>
          <input class="focus-max-input" name="system.lifepool.focus.max" type="number" value="{{actor.system.lifepool.focus.max}}">
        </div>
        <div class="focus-points comic-bubble-background flexcol">
          <span class="bubble-label">{{localize "MVRPG.heroSheet.lifepool.current"}}</span>
          <input class="focus-points-input" name="system.lifepool.focus.value" type="number" value="{{actor.system.lifepool.focus.value}}">
        </div>
        <div class="focus-damage-reduction comic-bubble-background flexcol">
          <span class="bubble-label">{{localize "MVRPG.heroSheet.lifepool.damageReduction"}}</span>
          <input class="focus-damage-reduction-input" name="system.lifepool.focus.damageReduction" type="number" value="{{actor.system.lifepool.focus.damageReduction}}">
        </div>
      </div>
      <div class="panel-title panel-footer">
        {{localize "MVRPG.heroSheet.focus.title"}}
      </div>
    </div>
  </div>

  <div class="rank-panel comic-frame">
    <div class="cog-wheel">
      <a class="open-config"><i class="fa-solid fa-gear"></i></a>
    </div>

    <div class="speed-section flexcol">
      <div class="panel-title panel-header">
        {{localize "MVRPG.heroSheet.speed.title"}}
        </div>
      <div class="speed-content comic-bubble-background flexcol">
        {{#select actor.flags.mvrpg.displaySpeed}}
          <select class="bubble-label speed-selector" name="flags.mvrpg.displaySpeed" data-tooltip="{{localize (concat "MVRPG.heroSheet.speed." displaySpeed)}}" data-tooltip-direction="UP">
            {{#each actor.system.speed as |speedVal speedName|}}
              {{#if speedVal}}
                <option value="{{speedName}}">{{localize (concat "MVRPG.heroSheet.speed." speedName)}}</option>
              {{/if}}
            {{/each}}
          </select>
        {{/select}}
        <div class="speed-item flexrow">
          <img class="speed-icon" src="systems/mvrpg/assets/sheets/actor/speed-icons/{{displaySpeed}}.png">
          <div class="speed-value">{{lookup actor.system.speed displaySpeed}}</div>
        </div>
      </div>
    </div>

    <div class="karma-section flexcol">
      <div class="panel-title panel-header">
        {{localize "MVRPG.heroSheet.karma.title"}}
      </div>
      <div class="karma-content comic-bubble-background flexcol">
        <input class="karma-input" name="system.karma" type="number" value="{{actor.system.karma}}">
      </div>
    </div>

    <div class="initiative-section flexcol">
      <div class="initiative-content comic-bubble-background flexcol">
        <input class="initiative-input" name="system.initiative.value" type="number" value="{{actor.system.initiative.value}}">
      </div>
      <div class="panel-title panel-footer">
        {{localize "MVRPG.heroSheet.initiative.title"}}
      </div>
    </div>

    <div class="rank-section flexcol">
      <div class="rank-content comic-bubble-background flexrow">
        <input class="rank-input" name="system.rank" type="number" value="{{actor.system.rank}}">
      </div>
      <div class="panel-title panel-footer">
        {{localize "MVRPG.heroSheet.rank.title"}}
      </div>
    </div>
  </div>

  <div class="abilities-panel comic-frame flexcol">
    <div class="panel-title panel-header">
      {{localize "MVRPG.heroSheet.abilities.title"}}
    </div>
    <div class="abilities-content flexcol">
      {{#each actor.system.abilities as |info ability|}}
        <div class="ability-item flexcol">
          <div class="ability-info flexrow">
            <div class="ability-defense" data-tooltip="{{localize "MVRPG.heroSheet.abilities.tooltip.defenseScore"}}">
              {{info.defenseBonus}}
            </div>
            <input class="ability-input" type="number" name={{concat "system.abilities." ability ".value"}} value="{{info.value}}" data-tooltip="{{localize "MVRPG.heroSheet.abilities.tooltip.abilityScore"}}"/>
            <div class="ability-non-combat-bonus" data-tooltip="{{localize "MVRPG.heroSheet.abilities.tooltip.nonCombatChecks"}}">
              {{numberFormat info.nonCombatBonus sign=true}}
            </div>
          </div>
          <div class="ability-labels flexrow">
            <div class="ability-sub-label" data-tooltip="{{localize "MVRPG.heroSheet.abilities.tooltip.defenseScore"}}">
              <i class="fa-solid fa-shield-halved"></i>
            </div>
            <div class="ability-name" data-tooltip="{{localize "MVRPG.heroSheet.abilities.tooltip.abilityScore"}}">
              <a class="rollable" data-roll-type="combat" data-ability="{{ability}}">{{localize (concat "MVRPG.heroSheet.abilities." ability)}}</a>
            </div>
            <div class="ability-sub-label" data-tooltip="{{localize "MVRPG.heroSheet.abilities.tooltip.nonCombatChecks"}}">
              <i class="fa-solid fa-dove"></i>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="powers-panel comic-frame">
    <!-- Powers Go Here -->
  </div>
</form>
