<div class="mvrpg-damage-card comic-frame flexcol">
  <div class="half-tone-overlay"></div>
  <div class="damage-label panel-header panel-title">
    {{localize "MVRPG.rolls.damageApplication"}}
  </div>
  <div class="lifepool-target">
    {{localize "MVRPG.rolls.lifepoolTarget" target=(localize (concat "MVRPG.sheets.superSheet.lifepool." lifepoolTarget))}}
  </div>
  <div class="damage-application-list">
    {{#each damageList as |damageData index|}}
      {{#with damageData}}
        <div class="damage-application-item flexrow">
          <div class="damage-index">
            {{mvMath "sum" index 1}}.
          </div>
          <div class="damage-blurb">
            {{localize "MVRPG.rolls.damageApplicationTarget" total=damageTotal target=targetName}}
          </div>
          <a data-action="undoDamage"
             data-damage-total="{{damageTotal}}"
             data-lifepool-target="{{../lifepoolTarget}}"
             data-target-uuid="{{targetUuid}}">
            <i class="fa-solid fa-rotate-left"></i>
          </a>
        </div>
      {{/with}}
    {{/each}}
  </div>
</div>
