<form>
  <div class="half-tone-overlay"></div>

  <div class="mvrpg-dialog-container flexcol">
    <div class="mvrpg-dialog-section comic-frame flexcol">
      <div class="mvrpg-dialog-header">
        {{localize "MVRPG.dialog.modifyEdgesTroubles.title"}}
      </div>

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.modifyEdgesTroubles.edges"}}</div>
        <div class="mvrpg-dialog-input"><input name="edges" type="number" value="{{edges}}"></div>
      </div>

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.modifyEdgesTroubles.troubles"}}</div>
        <div class="mvrpg-dialog-input"><input name="troubles" type="number" value="{{troubles}}"></div>
      </div>
    </div>
  </div>
</form>
