<form>
  <div class="half-tone-overlay"></div>
  <div class="mvrpg-dialog-container flexcol">
    <div class="mvrpg-dialog-section comic-frame flexcol">
      <div class="mvrpg-dialog-header">
        {{localize "MVRPG.dialog.rollConfirm.title"}}
      </div>
      {{#if rollSource}}
        <div class="roll-source-header">
          {{rollSource}}
        </div>
      {{/if}}

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{rollKey}} {{#mvCompare type "nonCombat"}}({{localize "MVRPG.rolls.nonCombat"}}){{/mvCompare}}</div>
        <div class="mvrpg-dialog-data">{{modifier}}</div>
      </div>

      {{#mvCompare type "!==" "initiative"}}
        <div class="mvrpg-dialog-item flexrow">
          <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.rollConfirm.against"}}</div>
          {{#select against}}
            <select name="against" class="mvrpg-dialog-input">
              <option value="none">{{localize "MVRPG.sheets.generic.none"}}</option>
              {{#each (mvGetConfigObj "abilities") as |ability|}}
                <option value="{{ability}}">{{localize (concat "MVRPG.sheets.generic.abilities." ability)}}</option>
              {{/each}}
            </select>
          {{/select}}
        </div>

        <div class="mvrpg-dialog-item flexrow">
          <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.rollConfirm.tn"}}</div>
          <div class="mvrpg-dialog-input"><input name="tn" type="number" value="{{tn}}" min="0"></div>
        </div>
      {{/mvCompare}}

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.rollConfirm.edges"}}</div>
        <div class="mvrpg-dialog-input"><input data-reference="edges" type="checkbox" {{#if edges}}checked{{/if}}></div>
        <div class="mvrpg-dialog-input"><input name="edges" type="number" value="{{edges}}" min="0" {{#unless edges}}disabled{{/unless}}></div>
      </div>

      <div class="mvrpg-dialog-item flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.dialog.rollConfirm.troubles"}}</div>
        <div class="mvrpg-dialog-input"><input data-reference="troubles" type="checkbox" {{#if troubles}}checked{{/if}}></div>
        <div class="mvrpg-dialog-input"><input name="troubles" type="number" value="{{troubles}}" min="0" {{#unless troubles}}disabled{{/unless}}></div>
      </div>
    </div>
  </div>
</form>
