<nav class="sheet-tabs tabs" data-group="{{tabGroup}}">
  {{#each tabs as |tab name| }}
    <a class="tab-header {{tab.cssClass}}"
       data-action="tab"
       data-group="{{tab.group }}"
       data-tab="{{name }}">{{localize tab.label}}</a>
  {{/each}}
</nav>
