<div class="mvrpg-dialog-item flexrow">
  <div class="mvrpg-dialog-label">
    {{localize "MVRPG.sheets.itemSheet.settings.labels.range"}}
    <span class="mvrpg-label-hint">[{{localize "MVRPG.sheets.itemSheet.settings.labels.rangeUnit"}}]</span>
  </div>
  <div class="mvrpg-dialog-input range-input">
    <input name="system.range.value"
           type="text"
           value="{{item.system.range.value}}">
  </div>
</div>

{{#if item.system.range.rangeIsInt }}
  <div class="mvrpg-dialog-item flexrow">
    <div class="mvrpg-dialog-label">
      {{localize "MVRPG.sheets.itemSheet.settings.labels.multiplyByRank"}}
    </div>
    <div class="mvrpg-dialog-input">
      <input name="system.range.multiplyByRank"
             type="checkbox"
             {{checked item.system.range.multiplyByRank}}>
    </div>
  </div>
{{/if}}
