<form class="item-sheet flexcol">
  <div class="half-tone-overlay"></div>
  <div class="name-panel comic-frame flexrow ">
    <div class="item-image">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    <div class="item-data flexcol">
      <div class="item-type panel-header">{{localize (concat "TYPES.Item." item.type)}}.</div>
      <input class="name-input" name="name" type="text" value="{{item.name}}">
    </div>
  </div>
  <div class="tabbed-panel flexcol">
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="tab-header panel-header panel-title" data-tab="description">{{localize "MVRPG.sheets.itemSheet.titles.description"}}</a>
      {{#mvCompare item.type "power"}}
        <a class="tab-header panel-header panel-title" data-tab="settings">{{localize "MVRPG.sheets.itemSheet.titles.settings"}}</a>
      {{/mvCompare}}
      <a class="tab-header panel-header panel-title" data-tab="effects">{{localize "MVRPG.sheets.itemSheet.titles.effects"}}</a>
    </nav>
    <div class="sheet-body comic-frame">
      <div class="tab description-section flexcol" data-group="primary" data-tab="description">
        {{editor item.system.description target="system.description" button="true" engine="prosemirror"}}
      </div>
      {{#mvCompare item.type "power"}}
        <div class="tab effects-section flexcol" data-group="primary" data-tab="settings">
          {{> (systemFilePath "templates/item/settings-tab.hbs")}}
        </div>
      {{/mvCompare}}
      <div class="tab effects-section effects-list doc-list flexcol" data-group="primary" data-tab="effects">
        {{> (systemFilePath "templates/effects/effects-list.hbs") item.effects.contents}}
      </div>
    </div>
  </div>
</form>
