<div class="mvrpg-dialog-container flexcol">
  <div class="mvrpg-dialog-section flexcol">

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.powerSets"}}
      </div>
      <a class="mvrpg-dialog-data configure-multiple-selections"
         data-selection-set="powerSets"
         data-tooltip="{{localize "MVRPG.sheets.itemSheet.settings.tooltips.configurePowerSets"}}">
        {{#each item.system.powerSets as |powerSetSlug| }}
          <span>{{localize (concat "MVRPG.sheets.generic.powerSets." powerSetSlug)}}
          {{~#unless @last}}, {{/unless}}</span>
        {{/each}}
        <i class="fa-solid fa-gear fa-xs"></i>
      </a>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">{{localize "MVRPG.sheets.itemSheet.settings.labels.action"}}</div>
      <a class="mvrpg-dialog-data configure-multiple-selections"
         data-selection-set="actions"
         data-tooltip="{{localize "MVRPG.sheets.itemSheet.settings.tooltips.configurePowerSets"}}">
        {{#each item.system.actions as |action| }}
          <span>{{localize (mvGetConfigProperty "actions" action)}}
          {{~#unless @last}}, {{/unless}}</span>
        {{/each}}
        <i class="fa-solid fa-gear fa-xs"></i>
      </a>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.duration"}}
      </div>
      <select class="mvrpg-dialog-input" name="system.duration">
        {{selectOptions (mvGetConfigObj "powerDurations") selected=item.system.duration localize=true}}
      </select>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">{{localize "MVRPG.sheets.itemSheet.settings.labels.cost"}}</div>
      <div class="mvrpg-dialog-input">
        <input name="system.cost" type="number" value="{{item.system.cost}}">
      </div>
    </div>

    {{> (systemFilePath "templates/item/mixins/range-settings.hbs")}}

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">{{localize "MVRPG.sheets.itemSheet.settings.labels.hasRoll"}}</div>
      <div class="mvrpg-dialog-input">
        <input name="system.roll.hasRoll"
               type="checkbox"
               {{checked item.system.roll.hasRoll}}>
      </div>
    </div>

    {{#if item.system.roll.hasRoll }}
      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.rollType"}}
        </div>
        <select class="mvrpg-dialog-input" name="system.roll.type">
          {{selectOptions (mvGetConfigObj "rollTypes") selected=item.system.roll.type localize=true}}
        </select>
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.rollAbility"}}
        </div>
        <select class="mvrpg-dialog-input" name="system.roll.ability">
          {{selectOptions (mvGetConfigObj "abilities") selected=item.system.roll.ability localize=true}}
        </select>
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.sheets.itemSheet.settings.labels.against"}}</div>
        <select class="mvrpg-dialog-input" name="system.roll.against">
          {{selectOptions (mvGetConfigObj "abilities") selected=item.system.roll.against localize=true}}
        </select>
      </div>

      {{#mvCompare item.system.roll.type "combat"}}
        <div class="mvrpg-dialog-item item-roll-data flexrow">
          <div class="mvrpg-dialog-label">
            {{localize "MVRPG.sheets.itemSheet.settings.labels.lifepoolTarget"}}
          </div>
          <select class="mvrpg-dialog-input" name="system.roll.lifepoolTarget">
            <option value="none">{{localize "MVRPG.sheets.generic.none"}}</option>
            {{selectOptions (mvGetConfigObj "lifepoolTargets") selected=item.system.roll.lifepoolTarget localize=true}}
          </select>
        </div>
      {{/mvCompare}}

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.rollBonus"}}
        </div>
        <div class="mvrpg-dialog-input">
          <input name="system.roll.bonus"
                 type="number"
                 value="{{item.system.roll.bonus}}">
        </div>
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">{{localize "MVRPG.sheets.itemSheet.settings.labels.edges"}}</div>
        <div class="mvrpg-dialog-input">
          <input name="system.roll.edges"
                 type="number"
                 value="{{item.system.roll.edges}}">
        </div>
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.troubles"}}
        </div>
        <div class="mvrpg-dialog-input">
          <input name="system.roll.troubles"
                 type="number"
                 value="{{item.system.roll.troubles}}">
        </div>
      </div>
    {{/if}}

  </div>
</div>
