<div class="tab mvrpg-dialog-container sheet-body comic-frame flexcol {{tabs.settings.cssClass}}"
     data-group="{{tabs.settings.group}}"
     data-tab="{{tabs.settings.id}}">
  <div class="mvrpg-dialog-section flexcol">
    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.powerSets"}}
      </div>
      <a class="mvrpg-dialog-data configure-multiple-selections"
         data-selection-set="powerSets"
         data-tooltip="{{localize "MVRPG.sheets.itemSheet.settings.tooltips.configurePowerSets"}}">
        {{#each document.system.powerSets as |powerSetSlug| }}
          <span>{{localize (concat "MVRPG.sheets.generic.powerSets." powerSetSlug)}}
          {{~#unless @last}}, {{/unless}}</span>
        {{/each}}
        <i class="fa-solid fa-gear fa-xs"></i>
      </a>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">{{localize "MVRPG.sheets.itemSheet.settings.labels.action"}}</div>
      <a class="mvrpg-dialog-data configure-multiple-selections"
         data-selection-set="actions"
         data-tooltip="{{localize "MVRPG.sheets.itemSheet.settings.tooltips.configurePowerSets"}}">
        {{#each document.system.actions as |action| }}
          <span>{{localize (mvGetConfigProperty "actions" action)}}
          {{~#unless @last}}, {{/unless}}</span>
        {{/each}}
        <i class="fa-solid fa-gear fa-xs"></i>
      </a>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.duration"}}
      </div>
      <select class="mvrpg-dialog-input" name="system.duration">
        {{selectOptions (mvGetConfigObj "powerDurations") selected=document.system.duration localize=true}}
      </select>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">{{localize "MVRPG.sheets.itemSheet.settings.labels.cost"}}</div>
      <div class="mvrpg-dialog-input">
        <input name="system.cost" type="number" value="{{document.system.cost}}">
      </div>
    </div>

    {{> (systemFilePath "templates/item/mixins/range-settings.hbs")}}

    {{> (systemFilePath "templates/item/mixins/hasRoll-settings.hbs")}}

  </div>
</div>
