<div class="mvrpg-dialog-container flexcol">
  <div class="mvrpg-dialog-section flexcol">

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.powerSets"}}
      </div>
      <a class="mvrpg-dialog-data configure-multiple-selections" data-selection-set="powerSets" data-tooltip="{{localize "MVRPG.sheets.itemSheet.settings.tooltips.configurePowerSets"}}">
        {{#each item.system.powerSets as |powerSetSlug|}}
          <span>{{localize (concat "MVRPG.sheets.generic.powerSets." powerSetSlug)}}
          {{~#unless @last}}, {{/unless}}</span>
        {{/each}}
        <i class="fa-solid fa-gear fa-xs"></i>
      </a>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.action"}}
      </div>
      <a class="mvrpg-dialog-data configure-multiple-selections" data-selection-set="actions" data-tooltip="{{localize "MVRPG.sheets.itemSheet.settings.tooltips.configurePowerSets"}}">
        {{#each item.system.actions as |actionSlug|}}
          <span>{{localize (concat "MVRPG.sheets.generic.actions." actionSlug)}}
          {{~#unless @last}}, {{/unless}}</span>
        {{/each}}
        <i class="fa-solid fa-gear fa-xs"></i>
      </a>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.duration"}}
      </div>
      {{#select item.system.duration}}
        <select class="mvrpg-dialog-input" name="system.duration">
          {{#each (mvGetConfigObj "powerDurations") as |durationI18nString durationSlug|}}
            <option value="{{durationSlug}}">{{localize durationI18nString}}</option>
          {{/each}}
        </select>
      {{/select}}
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.cost"}}
      </div>
      <div class="mvrpg-dialog-input">
        <input name="system.cost" type="number" value="{{item.system.cost}}">
      </div>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.range"}}
      </div>
      <div class="mvrpg-dialog-input">
        <input name="system.range.value" type="number" value="{{item.system.range.value}}">
      </div>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.multiplyByRank"}}
      </div>
      <div class="mvrpg-dialog-input">
        <input name="system.range.multiplyByRank" type="checkbox" {{checked item.system.range.multiplyByRank}}>
      </div>
    </div>

    <div class="mvrpg-dialog-item flexrow">
      <div class="mvrpg-dialog-label">
        {{localize "MVRPG.sheets.itemSheet.settings.labels.hasRoll"}}
      </div>
      <div class="mvrpg-dialog-input">
        <input name="system.roll.hasRoll" type="checkbox" {{checked item.system.roll.hasRoll}}>
      </div>
    </div>

    {{#if item.system.roll.hasRoll}}
      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.rollType"}}
        </div>
        {{#select item.system.roll.type}}
          <select class="mvrpg-dialog-input" name="system.roll.type">
            {{#each (mvGetConfigObj "rollTypes") as |type|}}
              <option value="{{type}}">{{localize (concat "MVRPG.sheets.itemSheet.settings.rollTypes." type)}}</option>
            {{/each}}
          </select>
        {{/select}}
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.rollAbility"}}
        </div>
        {{#select item.system.roll.ability}}
          <select class="mvrpg-dialog-input" name="system.roll.ability">
            {{#each (mvGetConfigObj "abilities") as |ability|}}
              <option value="{{ability}}">{{localize (concat "MVRPG.sheets.generic.abilities." ability)}}</option>
            {{/each}}
          </select>
        {{/select}}
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.against"}}
        </div>
        {{#select item.system.roll.against}}
          <select class="mvrpg-dialog-input" name="system.roll.against">
            {{#each (mvGetConfigObj "abilities") as |ability|}}
              <option value="{{ability}}">{{localize (concat "MVRPG.sheets.generic.abilities." ability)}}</option>
            {{/each}}
          </select>
        {{/select}}
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.rollBonus"}}
        </div>
        <div class="mvrpg-dialog-input">
          <input name="system.roll.bonus" type="number" value="{{item.system.roll.bonus}}">
        </div>
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.edges"}}
        </div>
        <div class="mvrpg-dialog-input">
          <input name="system.roll.edges" type="number" value="{{item.system.roll.edges}}">
        </div>
      </div>

      <div class="mvrpg-dialog-item item-roll-data flexrow">
        <div class="mvrpg-dialog-label">
          {{localize "MVRPG.sheets.itemSheet.settings.labels.troubles"}}
        </div>
        <div class="mvrpg-dialog-input">
          <input name="system.roll.troubles" type="number" value="{{item.system.roll.troubles}}">
        </div>
      </div>
    {{/if}}

  </div>
</div>
